---
kind: Service
apiVersion: v1
metadata:
    name: flask-nodeport-service
spec:
    type: NodePort
    selector:
        app: jo25672-test-geneapi
    ports:
        - port: 5000
          targetPort: 5000
