---
version: "3"

services:
    redis-db:
        image: redis:7
        ports:
            - 6379:6379
        volumes:
            - ./data:/data
        user: "1000:1000"
    api:
        build:
            context: ./
            dockerfile: ./Dockerfile.api
        depends_on:
            - redis-db
        image: jaeestee/space_mission_analysis:api
        ports:
            - 5000:5000
        volumes:
            - ./config.yaml:/config.yaml
        environment:
            - REDIS_IP=redis-db
    worker:
        build:
            context: ./
            dockerfile: ./Dockerfile.wrk
        depends_on:
            - redis-db
        image: jaeestee/space_mission_analysis:wrk
        volumes:
            - ./config.yaml:/config.yaml
        environment:
            - REDIS_IP=redis-db